

*{
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

body {
    
    background-image: url("https://www.kenzie.academy/s/kenzie.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}